# Секреты
docker/.env
.env
secrets.env

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Логи/артефакты
*.log
*.tmp

# IDE
.idea/
.vscode/

# OS
.DS_Store

